<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Extremetoaster Learning Center{{#if title}} - {{title}}{{/if}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/embertiesto.css">

    {{!content-for 'head-footer'}}
  </head>
  <body>
    <object width="{{toolWidth}}" height="{{toolHeight}}">
        <param name="movie" value="swf/{{toolFile}}">
        <embed src="swf/{{toolFile}}" width="{{toolWidth}}" height="{{toolHeight}}">
        </embed>
    </object>

    {{{contents}}}


    <script src="assets/vendor.js"></script>
    <script src="assets/embertiesto.js"></script>

    {{!content-for 'body-footer'}}
  </body>
</html>
