<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="assets/vendor.css"> -->

  </head>
  <body>

    <p>BAES URL IS: {{baseurl}}</p>

    {{#each navs.header as |nav|}}
      <a href="{{baseurl}}{{nav.path}}">{{nav.name}}</a>
    {{/each}}

    {{{contents}}}

    <!-- <script src="assets/vendor.js"></script> -->
  </body>
</html>
